<mat-checkbox>
  <mat-form-field *ngIf="edit == true">
      <input matInput id="txtTaskName" 
        name="txtTaskName" 
        placeholder="Task Name" 
        required 
        [(ngModel)]="task.name" />
    </mat-form-field>
  <span *ngIf="edit != false">{{task.Name}}</span>
</mat-checkbox>
<button mat-button id="btnAddTask" 
  (click)="createTask()" 
  *ngIf="edit == true && task.id == null">Add</button>
<button mat-button id="btnUpdateTask" 
  (click)="updateTask()" 
  *ngIf="edit == true && task.id != null">Update</button>
  
<button mat-button (click)="startEdit(task)">
  <mat-icon matListIcon>edit</mat-icon>
</button>