<button mat-button id="btnNewRoom" 
  (click)="newRoom()">New Room</button>

<app-room [homeId]="homeId" [room]="selectedRoom"
  *ngIf="selectedRoom != null"
  (roomCreated)="createRoom($event)" 
  (roomChanged)="updateRoom($event)"></app-room>
<mat-accordion>
  <mat-expansion-panel *ngFor="let room of rooms | async">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{room.name}}
        <button mat-button (click)="editRoom(room)">
          <mat-icon matListIcon>edit</mat-icon>
        </button>
        <button mat-button (click)="deleteRoom(room)">
          <mat-icon matListIcon>delete</mat-icon>
        </button>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-task-list [roomId]="room.id"></app-task-list>
  </mat-expansion-panel>
</mat-accordion>